<section id="benefits" class="benefits-rewiews">
    <div class="container benefits-reviews-div">
      <h2 class="benefits-reviews-title">Benefits of working with me</h2>
      <ul class="benefits-reviews-list">
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Communication-mobile.svg" alt="">
            <!-- <img
              src="/img/clientreviews/girldesk.png"
              alt="Alexandra Dream"
              width="48"
            /> -->
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Communication</h3>
              <!-- <p class="clients-reviews-item-time">1 week ago</p> -->
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.
          </p>
        </li>
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Art-mobile.svg" alt="">
            <!-- <img
              src="/img/clientreviews/mandesk.png"
              alt="James Williams"
              width="48"
            /> -->
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Art</h3>
              <!-- <p class="clients-reviews-item-time">A week ago</p> -->
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-reviews-list-item">
          <div class="benefits-reviews-block">
            <img src="../img/Expertise-mobile.svg" alt="">
            <!-- <img
              src="/img/clientreviews/girldesk2.jpg"
              alt="Emily Watson"
              width="48"
            /> -->
            <div class="benefits-reviews-block-block">
              <h3 class="benefits-reviews-item">Expertise</h3>
              <!-- <p class="clients-reviews-item-time">3 week ago</p> -->
            </div>
          </div>
          <p class="benefits-reviews-item-text">
            With extensive experience in development, I have a deep understanding of programming and website development.
          </p>
        </li>

        <li class="benefits-reviews-list-item">
            <div class="benefits-reviews-block">
              <img src="../img/Urgent execution-mobile.svg" alt="">
              <!-- <img
                src="/img/clientreviews/girldesk2.jpg"
                alt="Emily Watson"
                width="48"
              /> -->
              <div class="benefits-reviews-block-block">
                <h3 class="benefits-reviews-item">Urgent execution</h3>
                <!-- <p class="clients-reviews-item-time">3 week ago</p> -->
              </div>
            </div>
            <p class="benefits-reviews-item-text">
                I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
            </p>
          </li>
      </ul>
    </div>
  </section>