
/*---STYLES----*/
.benefits-rewiews {  /*clients-reviews*/
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding-top: 36px; */
  /* padding-bottom: 36px; */
  background:#FFFFFF;

    /* var(--light-blue, #FFFFFF); */
  }
  
  .benefits-reviews-div {
    margin: 0 auto;
  }
  
  .benefits-reviews-title {    /*clients-reviews-title*/
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    /* margin-bottom: 30px; */
  }
  
  .benefits-reviews-list {  /*clients-reviews-list*/
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 16px; */
    gap: 32px;  /*нью*/
  }
  
  .benefits-reviews-list-item { /*clients-reviews-list-item*/
    width: 100%;
    padding: 20px 20px;
    /* background-color: #ffffff; */
  }
  
  .benefits-reviews-list-item:not(:nth-child(-n + 1)) {
    display: none;
  }
  
  .benefits-reviews-block {   /*clients-reviews-block*/
    display: flex;
    align-items: center;
  }
  .benefits-reviews-block-block {   /*clients-reviews-block-block*/
    display: flex;
    flex-direction: column;
    margin-left: 14px;
  }
  
  .benefits-reviews-item {  /*clients-reviews-item */
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: uppercase;
  }
  
  /* .clients-reviews-item-time {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px; 
    opacity: 0.8; 
  } */
  
  .benefits-reviews-item-text { /*clients-reviews-item-text*/
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    /* text-align: left; */
    /* padding-top: 20px; */
  }
  
  /*------MEDIA-----*/
  
  @media screen and (min-width: 768px) {
    .benefits-reviews-div {    /*clients-reviews-div*/
      max-width: 768px;
      padding: 0 20px;
    }
  
    /* .clients-reviews {
    } */
  
    .benefits-reviews-title {
      font-size: 108px;
      line-height: 124px;
      font-weight: 400;
      letter-spacing: 1.8px;
    }
  

    /*ynetu v HTML*/
    .benefits-reviews-list {   /*clients-reviews-list*/
      column-gap: 16px;
    }
  
    .benefits-reviews-list-item {
      width: calc((100% - 16px) / 2);
      padding: 24px;
    }
  
    .benefits-reviews-list-item:not(:nth-child(-n + 1)) {
      display: block;
    }
  
    .benefits-reviews-list-item:not(:nth-child(-n + 2)) {
      display: none;
    }
  
    .benefits-reviews-item {
      font-size: 20px;
      line-height: 45px;
    }
  

    /*netu v html*/
    /* .clients-reviews-item-time { 
      font-size: 16px;
      line-height: 24px;
    } */
  
    .benefits-reviews-item-text {
      font-size: 18px;
      line-height: 27px;
      text-align: left;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .benefits-reviews-div {
      max-width: 1440px;
      padding: 0 60px;
    }
  
    .benefits-rewiews  { /*clients-reviews*/
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .benefits-reviews-list {
      row-gap: 24px;
      justify-content: center;
    }
  
    .benefits-reviews-list-item {
      width: calc((100% - 20px * 2) / 3);
      padding: 32px;
    }
  
    .benefits-reviews-list-item:not(:nth-child(-n + 1)) {
      display: block;
    }
  }